#---------------------------
#        Folders
#---------------------------
/node_modules
/public/hot
/public/storage
/public/build
/public/app
/public/app/*
/public/mix-manifest.json
/public/chunks/
/storage/*.key
/vendor
.idea/
public/vendor/livewire
/storage/debugbar
#---------------------------
#        Files
#---------------------------
.env
.env.backup
error_log
*.zip
*.ini
*.txt
*.sthml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/_ide_helper_actions.php
robots.txt
yarn.lock
/resources/views/vendor/pagination
.http
!/resources/lang/en/general.php
