.auth_sidebar {
  width: 200px;
  min-width: 250px;
  flex-basis: 250px;
  position: relative;
  background-color: rgba(30, 53, 91, 1);
  color: #fff;
}

.auth_sidebar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/auth-sidebar.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

.auth_overlay {
  background-color: rgba(30, 53, 91, .9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.auth_overlay div > p {
  font-size: 120%;
}

.auth_overlay > ul {
  padding: 0 20px;
}

.auth_overlay ul > li {
  margin-bottom: .5rem;
  font-size: 80%;
}

.auth_overlay > p {
  font-size: 80%;
}

.auth_logo {
  width: 75px;
  height: 70px;
  margin-right: 1rem;
}

.auth_separator {
  border-top: 1px solid rgba(255, 255, 255, .2);
  margin-top: 0;
}

.auth_dark_separator {
  border-top: 1px solid rgba(0, 0, 0, .5);
  margin-top: 0;
  margin-bottom: 0;
}

.auth_main {

}

.btn-social {
  width: 146px;
  border: 1px solid;
  color: #fff;
}

.btn-social:hover {
  color: #fff;
}

.btn-social  > i {
  font-size: 120%;
}

.auth_or_seprator {
  margin: 1rem auto;
  overflow: hidden;
  text-align: center;
  color: var(--primary);
}

.auth_or_seprator:before, .auth_or_seprator:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 .5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}

.auth_or_seprator:after {
  margin: 0 -55% 0 .5em;
}

.required_helper {
  margin: -0.5rem auto 1rem 5px;
  display: block;
}

.auth_helper {
  font-size: 80%;
}

.auth_helper:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--primary);
}

.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover, .btn-facebook:focus {
  background-color: #2d4373;
  border-color: #2d4373
}

.btn-google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.btn-google:focus, .btn-google:hover {
  background-color: #c23321;
  border-color: #c23321;
}

.btn-linkedin {
  background-color: #007bb6;
  border-color: #007bb6;
}

.btn-linkedin:focus, .btn-linkedin:hover {
  background-color: #005983;
  border-color: #005983;
}

.btn-twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.btn-twitter:focus, .btn-twitter:hover {
  background-color: #2795e9;
  border-color: #2795e9;
}
